img{
	height: auto;
	width: 100%;
}

.card{
	margin: 12px;
}

.section2font{
	font-family: Arial, Helvetica, sans-serif;
}

.card-title{
	font-family: "Courier New", Courier, monospace;
}

.card-text{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.section3font{
	font-family: "Lucida Console", Monaco, monospace;
}

.purple-bar{
	background-color: purple;
}

.pink-bar{
	background-color: pink;
}

.grey-bar{
	background-color: grey;
}

.red-bar{
	background-color: red;
}

.aboutmefont{
	font-family: Verdana, Geneva, sans-serif;
}